<template name ='mobile'>
  <div class="container">
    <div class="row">
      <br>
      <a href="/"><button type="button" class="btn btn-primary"><span  class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Back to main page.</button> </a>
      <br>
      <br>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                PushPlan for Android
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <p> We have an android app under development. Sign up to receive a Beta version!</p>
                  <form class="mobile_email" role="form" id="androidNotifyInput">
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="Sign Up for our Android App">
                      <span class="input-group-btn">
                        <button id="androidNotify" type="button" class="btn btn-success">Sign Up!</button> 
                      </span>
                    </div><!-- /input-group -->
                  </form>
                  <br>
                  <p> In the meantime, bookmark our app and add it to your phone homescreen for easy mobile access! If you're not sure how to do this, follow the directions below!</p>
                </div>
              </div>
               <br>
              <div class="container">
                <div class="row">
                  
                  <div class="col-md-4">
                    <ol>
                      
                      <li><h4> Hit the settings button </h4> (it’s three vertical dots, located in the top right of the browser)</li> <br>
                      <li><h4> Press the star/plus symbol </h4>  (in the top right corner of the dropdown)</li><br>
                      <li><h4> Select "Add to Home Screen" </h4></li>
                      
                    </ol>
                    <!--a href="https://play.google.com/store/apps/details?id=PushPlan">
                    <img alt="Get it on Google Play"
                    src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" /></a-->
                  </div>
                  <div class="col-md-4">
                    <p><img alt="" src="./android3.png" height="533" width="300"></p>
                  </div>
                  <div class="col-md-4">
                    <p><img alt="" src="./android4.png" width="300"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                PushPlan for iPhone
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  We have an iPhone app under development. Sign up to receive a Beta version! 
                  <form class="mobile_email" role="form" id="iphoneNotifyInput">
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="Sign Up for our Beta Iphone App">
                      <span class="input-group-btn">
                        <button id="iphoneNotify" type="button" class="btn btn-success">Sign Up!</button> 
                      </span>
                    </div><!-- /input-group -->
                  </form>
                  <br>
                  <p> In the meantime, bookmark our app and add it to your phone homescreen for easy mobile access! If you're not sure how to do this, follow the directions below!</p>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <br>
                    <h4>To create a webpage shortcut on your Home Screen:</h4>
                    <ol>
                      <li> Tap&nbsp;
                      <img alt="" src="./iphoneHome.png" height="14" width="10"></li>
                      <li> Tap <strong>Add to Home Screen.</strong> </li>
                    </ol>
                    <!--a id="appleLink" href="/mobile" target="itunes_store"></a-->
                  </div>
                  <div class="col-md-4">
                    <img src="./iphoneBookmark.png" width="300" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                PushPlan for Windows Phone
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  We have a windows phone app under development. Sign up to receive a Beta version!
                  <form class="mobile_email" role="form" id="windowsNotifyInput">
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="Sign Up for our Beta Windows App">
                      <span class="input-group-btn">
                        <button id="windowsNotify" type="button" class="btn btn-success">Sign Up!</button> 
                      </span>
                    </div><!-- /input-group -->
                  </form>
                  <br>
                  <p> In the meantime, bookmark our app and add it to your phone homescreen for easy mobile access! If you're not sure how to do this, follow the directions below!</p>
                </div>
              </div>

              <div class="procedure">
                <h3 data-xmtag="hhtSubheading">To pin a website</h3>
                <ol data-xmtag="hhtSteps"><li data-xmtag="hhtStep">
                    <p data-xmtag="hhtPara">Open the website you want to pin.</p>
                  </li><li data-xmtag="hhtStep">
                    <p data-xmtag="hhtPara">Tap <span class="emphasis" data-xmtag="hhtUI">the triple dots</span><img class="inlineImage" src="http://cmsresources.windowsphone.com/windowsphone/en-us/How-to/wp7/inline/basic-icon-ellipses.png" alt="More icon">, then tap <span class="emphasis" data-xmtag="hhtUI">Pin to Start</span>.</p>
                  </li></ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>


    </div>
  </div>
</template>