/*****************************************************************************/
/* ChatMessage: Style */
/*****************************************************************************/
.col-md-12 .chat-module {
  width: 310px;
  margin: 20px auto; 
  }

.top-bar {
  background: #666;
  color: white;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  position: relative;
  overflow: hidden;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }
  .top-bar h1 {
    display: inline;
    padding-left: 20px;
    font-size: 1.1rem; }
  .top-bar .typicons-message {
    display: inline-block;
    padding: 4px 5px 2px 5px; }
  .top-bar .typicons-minus {
    position: relative;
    top: 3px; }
  .top-bar .left {
    float: left; }
  .top-bar .right {
    float: right;
    padding-top: 5px; }
  .top-bar > * {
    position: relative; }
  .top-bar::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: -webkit-radial-gradient(white, black);
    background: -o-radial-gradient(white, black);
    background: radial-gradient(white, black);
    -webkit-animation: pulse 1s ease alternate infinite;
    -o-animation: pulse 1s ease alternate infinite;
    animation: pulse 1s ease alternate infinite; }
.bottom-bar { 
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;}
  .bottom-bar input {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 260px;
  }

.discussion {
  height: 440px;
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 50px 0;
  overflow-y : scroll;
}

.discussion li {
  padding: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; 
}
.discussion .avatar {
  width: 17px;
  position: relative; 
}
.discussion .avatar img {
  display: block;
  width: 100%; 
}

.other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 4px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent; }

.self {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .self .messages {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0; }
  .self .avatar {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    .self .avatar:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }

.messages {
  background: white;
  padding: 5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  word-wrap:break-word; }
  .messages p {
    font-size: 14px;
    margin: 0 0 0.1rem 0; 
    word-wrap:break-word}
  .messages a {
    font-size: 14px;
    margin: 0 0 0.1rem 0; 
    word-wrap:break-word}
  .messages time {
    font-size: 10px;
    color: #ccc; }

@-webkit-keyframes pulse {
  from {
    opacity: 0; }

  to {
    opacity: 0.5; } }

@-o-keyframes pulse {
  from {
    opacity: 0; }

  to {
    opacity: 0.5; } }

@keyframes pulse {
  from {
    opacity: 0; }

  to {
    opacity: 0.5; } }
