<!-- Desktop  -->

<template name="tutorial_step0">
  <h2>Tutorial</h2>
  <p> Exit the tutorial at any time by pressing the <span class="glyphicon glyphicon-home"></span> button in the navbar.</p>
</template>

<template name="tutorial_step1">
  <h2>Huddle Details</h2>
  <p>This panel contains general info about the huddle. All participants can modify the details simply by clicking on the text. It serves as a general bulletin board for the group.</p>
</template>

<template name="tutorial_step2">
  <h2>Tabs</h2>
  <p>These tabs let you navigate between the group chat and any existing surveys. Each huddle can contain multiple surveys.</p>
  <p> <b>Warning</b>: Finish the tour before exploring all the different tabs, otherwise the tutorial will reset.</p>
  <p> Let's check out the default 'ideas' tab next. </p>
</template>

<template name="tutorial_step3">
  <h2>Voting Poll</h2>
  <p>This space shows a poll with two sample ideas. All invitees can vote and add more ideas to this list. The poll description at the top can be edited by clicking the <span class="glyphicon glyphicon-cog"></span> button.</p>
</template>

<template name="tutorial_step4">
  <h2>Vote Early Vote Often!</h2>
  <p>Ideas get sorted based on popularity, with the score shown in the grey badge. You can vote as many times as you want!</p>
</template>

<template name="tutorial_step5">
  <h2>Inviting Friends</h2>
  <p>Send this link (or the url above) to invite friends to this huddle. People who have voted appear in the 'participants' category, otherwise they only appear as 'viewers'. People that haven't verified their account (from the dashboard) have <span class="glyphicon glyphicon-trash"></span> buttons next to their name, in case they need to be deleted.</p>
</template>

<template name="tutorial_step6">
  <h2>Scheduling</h2>
  <p>This tour only shows a "vote" poll, you can also send out a time survey by clicking the <span class="glyphicon glyphicon-plus"></span> tab and creating a time poll. Click 'finish' then try it out!</p>
</template>


<!-- Mobile  -->

<template name="tutorial_step0m">
  <h2>Mobile Tutorial</h2>
  <p>Exit the tutorial at any time by pressing the <span class="glyphicon glyphicon-home"></span> button in the navbar.</p>
</template>

<template name="tutorial_step1m">
  <h2>Mobile Panels</h2>
  <p>Each huddle consists of three panels, access the info panel by pressing the top left <span class="glyphicon glyphicon-align-left"></span> button, access the idea detail panel by tapping an idea.</p>
</template>

<template name="tutorial_step2m">
  <h2>Tabs</h2>
  <p>These tabs let you navigate between the group chat and any existing surveys.</p>
  <p> Let's check out the default 'ideas' tab next. </p>
</template>

<template name="tutorial_step3m">
  <h2>Voting Poll</h2>
  <p>This space shows a poll with two sample ideas. All invitees can vote and add more ideas to this list. The poll description at the top can be edited by clicking the <span class="glyphicon glyphicon-cog"></span> button.</p>
</template>

<template name="tutorial_step4m">
  <h2>Vote Early Vote Often!</h2>
  <p>Ideas get sorted based on popularity, with the score shown in the grey badge. You can vote as many times as you want!</p>
</template>

<template name="tutorial_step5m">
  <h2>Get the app!</h2>
  <p>Go back to the dashboard <span class="glyphicon glyphicon-home"></span> and tap the "Go Mobile" button to see how to get our native phone app!</p>
</template>