<template name="passwordResetForm"> 
    <div class="container">
        <div class="row">
            <div class="col-md-5">
               <h1> &nbsp; </h1>
               {{#if resetPassword}}
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <span class="panel-title">Reset your password</span>
                      </div>
                      <div class="panel-body">
                          <form id="new_password_form" role="form">
                            <div class="form-group">
                              <label for="new-password">New Password</label>
                              <input name="new-password" type="password" class="form-control" id="new-password" placeholder="Enter Password">
                              <span class="help-block">
                                  <ul class="list-unstyled">
                                      {{{formErrors "new-password"}}}
                                  </ul>
                              </span>
                            </div>
                            <div class="form-group">
                              <label for="new-password">Confirm New Password</label>
                              <input name="confirm-new-password" type="password" class="form-control" id="confirm-new-password" placeholder="Confirm Password">
                              <span class="help-block">
                                  <ul class="list-unstyled">
                                      {{{formErrors "confirm-new-password"}}}
                                  </ul>
                              </span>
                            </div>
                            <button id="new-password-submit" class="btn btn-primary"></button>
                          </form>
                      </div>
                  </div>
                {{else}}
                <a href="/"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back to main page. </a>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <span class="panel-title"><b>Request a password reset</b></span>
                          <br/>
                          <p> This will only work if you previously verified your email on your dashboard. Otherwise create a new account or <br> email <a href="mailto:pushplanner@gmail.com?Subject=Account%20Inquiry" target="_top">support@pushplan.net</a> for support. </p>
                      </div>
                      <div class="panel-body">
                          <form id="request_reset_form" role="form">
                            <div class="form-group">
                              <label for="new-password">Email Address</label>
                              <input name="reset-request-email" type="email" class="form-control" id="reset-request-email" placeholder="Email...">
                              <span class="help-block">
                                  <ul class="list-unstyled">
                                      {{{formErrors "reset-request-email"}}}
                                  </ul>
                              </span>
                            </div>
                            <button id="reset-password-submit" class="btn btn-primary">Submit</button>
                          </form>
                      </div>
                  </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>